#########################################
# try-python requirements file (develop)
# https://pip.pypa.io/en/stable/reference/pip_install/#example-requirements-file
#########################################
#---------------------------------------
# Runtime
#---------------------------------------
-r requirements.txt

#---------------------------------------
# Develop
#---------------------------------------
autopep8
flake8
ipython
mypy
pydocstyle
pytest
